	<!-- +++++ Blog Posts Section +++++ -->
	<div id="blog" class="container py">
		<div class="row">
			<div class="col-lg-6 offset-lg-3 centered">
				<h3>RECENT BLOG POSTS</h3>
				<hr>
				<p>Just some thought and writing on something ...</p>
			</div>
		</div>
		<div class="row my">
			{%- for post in site.posts limit:4 -%}
			<div class="col-lg-3">
				<ul class="fa-ul">
					<li>
						<h5 class="posts-title">
							<span class="fa-li"><i class="fas fa-bookmark fa-lg"></i></span><a href="{{ post.url }}">{{ post.title }}</a>
						</h5>
					</li>
					<li>
						<bd><span class="fa-li"><i class="fas fa-calendar-alt fa-lg"></i></span>{{ post.date | date_to_string  }}</bd>
					</li>
				</ul>
			</div>
			{%- endfor -%}
		</div>
		<div class="row">
			<div class="col-lg-6 offset-lg-3 centered">
				<p><a href="/blog/" class="btn btn-warning" role="button"><i class="fas fa-feather-alt fa-lg"></i> VIEW BLOG</a></p>
				<p><i class="fas fa-rss-square fa-lg text-warning"></i> <a href="{{ site.url }}/feed.xml">Subscribe RSS feed</a></p>
			</div>
		</div>
	</div><!-- /container -->