<!-- Static navbar -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">{{ site.author.first_name }}<span class="brand-normal">.{{ site.author.last_name }}</span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/pages/works/">Work</a></li>
            <li><a href="/pages/about/">About</a></li>
            <li><a href="/pages/posts/">Blog</a></li>
            <li><a href="/pages/contact/">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>