<!-- +++++ Welcome Section +++++ -->
	<div id="ww" class="tbg-gray con-b">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 centered">
					<img src="{{ site.baseurl }}/assets/img/user.png" alt="Stanley">
					<h1>Hi, I'm Zakuan Efandi!</h1>
					<p>Hello everybody. I'm Zakuan, an awesome software and web developer from Malaysia who like to build great products.</p>			
				</div><!-- /col-lg-8 -->
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /ww -->