<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>MY WORK</h3>
				<hr>
				<p>Below is a long history of what I've done so far which include projects from my hobby, college days and jobs. The list is sorted from recent to oldest.</p>
			</div>
		</div>
		{%- assign loopindex = 0 -%}
		{%- for work in site.works -%}
			{%- assign loopindex = loopindex | plus: 1 -%}
			{%- assign rowfinder = loopindex | modulo: 3 -%}
			{% capture workbox %}
			<div class="col-lg-4">
				<a class="zoom" href="{{ work.url }}">
					<img class="img-responsive" src="{{ site.baseurl }}{{ work.preview }}" alt="" />
					<div class="zoomOverlay"></div>
				</a>
				<p>{{ work.title }}</p>
			</div>
			{%- endcapture -%}
			{%- if rowfinder == 1 -%}
		<div class="row mt centered">
			{{ workbox }}
		{%- elsif rowfinder == 0 -%}
			{{ workbox }}
		</div>
		{%- else -%}
			{{ workbox }}
		{%- endif -%}
		{%- endfor -%}
		{%- if rowfinder != 0 -%}
		</div>
		{% endif %}
	</div><!-- /container -->