<!DOCTYPE html>
<html>
  <head>
	<title>{{ site.title }}</title>
	{%- include head.html -%}
  </head>
  <body>
    <!-- Nav -->
	{%- include nav.html -%}
	<!-- Welcome -->
	{%- include welcome.html -%}
	<!-- projects -->
	{%- include projects.html -%}
	<!-- About -->
	{%- include about.html -%}
	<!-- Blog Posts -->
	{%- include blogposts.html -%}
	<!-- Contact -->
	{%- include contact.html -%}
	<!-- Footer -->
	{%- include footer.html -%}
	<!-- Scripts -->
	{%- include scripts.html -%}
  </body>
</html>
