---
layout: default
---
{%- assign author = site.data.authors[page.author] -%}
	<!-- +++++ Post +++++ -->
	<div class="container pt">
		<div id="white">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<p>
							<img src="{{ site.baseurl }}{{ author.avatar | default: site.data.authors.admin.avatar }}" width="50px" height="50px">
							<ba>{{ author.name | default: site.data.authors.admin.name }}</ba>
						</p>
						<p><bd>{{ page.date | date_to_string }}</bd></p>
						<h4>{{ page.title }}</h4>
						{{ content }}
						<br>
						{%- if page.tags.size > 0 -%}
						<div class="tags">
						<bt><span class="glyphicon glyphicon-tags"></span> Tags:</bt>
							<ul>
								{%- for tag in page.tags -%}
								<li><a href="/pages/tags/#{{ tag }}">{{ tag }}</a></li>
								{%- endfor -%}
							</ul>
						</div>
						{%- endif -%}
						<hr>
						<p><a href="/pages/posts/">Back</a></p>
					</div>

				</div><!-- /row -->
			</div> <!-- /container -->
		</div><!-- /white -->
	</div>