---
layout: default
---
			<div class="wrapper style2">
				<article id="post">
					<header>
						<h2>{{ page.title }}</h2>
						<p>{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
					</header>
					<div class="container">
						<div class="row">
							<div class="12u 12u(mobile)">
								<section class="box style1">
									<span class="icon featured fa-comments-o"></span>
									<p>{{ content }}</p>
								</section>
							</div>
						</div>
					</div>
				</article>
			</div>
			
	<!-- +++++ Post +++++ -->
	<div id="white">
	    <div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<p><img src="{{ site.baseurl }}/assets/img/user.png" width="50px" height="50px"> <ba>Stanley Stinson</ba></p>
					<p><bd>{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</bd></p>
					<h4>{{ page.title }}</h4>
					{{ content }}
					<br>
					<p><bt>TAGS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p>
					<hr>
					<p><a href="blog.html">Back</a></p>
				</div>

			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /white -->