---
layout: default
---
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{ page.title }}</h3>
				<hr>
				{{ content }}
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="{{ site.baseurl }}/assets/img/portfolio/1.jpg" alt=""></p>
				<p><img class="img-responsive" src="{{ site.baseurl }}/assets/img/portfolio/2.jpg" alt=""></p>
				<p><img class="img-responsive" src="{{ site.baseurl }}/assets/img/portfolio/3.jpg" alt=""></p>
				<p>
					<bt>Client: <a href="#">{{ page.client }}</a></bt> - <bt>Type: <a href="#">{{ page.type }}</a>
					</bt> - <bt>Completion: <a href="#">{{ page.date | date: "%B %Y" }}</a></bt>
				</p>
				{%- if page.tags.size > 0 -%}
				<div class="tags"><bt>Tags:</bt>
					<ul>
						{%- for tag in page.tags -%}
						<li><a href="/pages/tags/#{{ tag }}">{{ tag }}</a></li>
						{%- endfor -%}
					</ul>
				</div>
				{%- endif -%}
				<hr>
				<p><a href="/pages/works/">Back</a></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->