---
layout: default
---
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
	
		{%- if page.showcase.size > 0 -%}
		<div class="row mt">
			<div class="col-lg-8 col-lg-offset-2">
				
				<div id="myShowcase" class="carousel slide" data-ride="carousel">
					
					<!-- Indicators -->
					<ol class="carousel-indicators">
						{%- for showcase in page.showcase -%}
							{%- assign loopindex = forloop.index | minus:1 -%}
							{%- if loopindex == 0 -%}
								<li data-target="#myShowcase" data-slide-to="{{ loopindex }}" class="active"></li>
							{%- else -%}
								<li data-target="#myShowcase" data-slide-to="{{ loopindex }}"></li>
							{%- endif -%}
						{%- endfor -%}
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						{%- for showcase in page.showcase -%}
						{%- assign loopindex = forloop.index | minus:1 -%}
						{%- if loopindex == 0 -%}
							<div class="item active">
						{%- else -%}
							<div class="item">
						{%- endif -%}
							<img src="{{ site.baseurl }}{{ showcase }}" style="width:100%;">
						</div>
						{%- endfor -%}
					</div>
					
					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myShowcase" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myShowcase" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
				
			</div>
		</div>
		{%- endif -%}
	
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{ page.title }}</h3>
				<hr>
				{{ content }}
			</div>
		</div>
		
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p>
					<bt>Client: <b>{{ page.client }}</b></bt> - <bt>Type: <b>{{ page.type }}</b>
					</bt> - <bt>Completion: <b>{{ page.completion | date: "%B %Y" }}</b></bt>
				</p>
				{%- if page.tags.size > 0 -%}
				<div class="tags"><bt>Tags:</bt>
					<ul>
						{%- for tag in page.tags -%}
						<li><a href="/pages/tags/#{{ tag }}">{{ tag }}</a></li>
						{%- endfor -%}
					</ul>
				</div>
				{%- endif -%}
				<hr>
				<p><a href="/pages/works/">Back</a></p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->