---
layout: default
---
	<!-- +++++ Projects Section +++++ -->
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h3>{{ page.title }}</h3>
				<hr>
				{{ content }}
			</div>
		</div>
		<div class="row mt centered">	
			<div class="col-lg-8 col-lg-offset-2">
				<p><img class="img-responsive" src="assets/img/portfolio/1.jpg" alt=""></p>
				<p><img class="img-responsive" src="assets/img/portfolio/2.jpg" alt=""></p>
				<p><img class="img-responsive" src="assets/img/portfolio/3.jpg" alt=""></p>
				<p>
					<bt>Client: <a href="#">BlackTie.co</a></bt> - <bt>Type: <a href="#">Illustration</a>
					</bt> - <bt>Date: <a href="#">{{ page.date | date_to_string }}</a></bt>
				</p>
			</div>
		</div><!-- /row -->
	</div><!-- /container -->